
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="container my-5">
    

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="me-2">

                            <div class="d-flex justify-content-between">
                                <h5 class="ms-2 mt-2">Detalle Pedido</h5>
                                <a class="btn btn-primary" href="@Url.Action("Index", "Tienda")"> <i class="fas fa-cart-plus"></i> Seguir Comprando</a>

                            </div>
                        </div>

                        <hr class="mt-2 mb-2" />

                        <div id="productos-pedido">

                            <div class="card mb-2 card-producto">

                                <div class="card-body">

                                    <div class="row">

                                        <div class="col-sm-2 align-self-center d-flex justify-content-center">
                                            <img class="rounded" src="" style="width:100px; height:100px" />
                                        </div>

                                        <div class="col-sm-4 align-self-center">
                                            <span class="font-wight-bold d-block">Categoría</span>
                                            <span>Nombre Producto</span>
                                        </div>

                                        <div class="col-sm-2 align-self-center">
                                            <span>Precio: </span>
                                        </div>

                                        <div class="col-sm-2 align-self-center">
                                            <div class="d-flex">
                                                <button class="btn btn-outline-secondary btn-restar rounded-0">
                                                    <i class="fas fa-minus"></i>
                                                </button>

                                                <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width: 40px" />

                                                <button class="btn btn-outline-secondary btn-sumar rounded-0">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-sm-2 align-self-center">
                                            <button class="btn btn-outline-danger btn-eliminar">
                                                <i class="far fa-trash-alt"></i> Eliminar
                                            </button>
                                        </div>



                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                            <label class="align-self-center">
                                <b>Total: $<span id="total">0</span></b>
                            </label>
                    </div>

                    <div class="d-flex justify-content-end">
                            <label class="align-self-center">
                                <b>Propina: $ <span id="propina"> 000 </span></b>
                            </label>
                    </div>

                    <div class="d-flex justify-content-end">
                            <label class="align-self-center">
                                <b>Total + Propina: $ <span id="totalFinal"> 000 </span></b>
                            </label>
                    </div>

                    <hr class="mt-2 mb-2" />
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success" type="button" onclick="RealizarPago()" style="font-size: 18px; padding: 10px 29.5px;">
                            <i class="fas fa-dollar-sign"></i> Realizar Pago
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

@section scripts {
    
    <script>

        $(document).ready(function () {

            jQuery.ajax({

                url: '@Url.Action("ListarProductosPedido", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#productos-pedido").html("");
                    $("#productos-pedido").LoadingOverlay("hide");


                    $.each(response.data, function (i, item) {
                        

                        $("<div>").addClass("card mb-2 card-producto").append(
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    //1
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(                                        
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.Extension + ";base64," + item.oProducto.Base64 })
                                            .css({"height" : "100px"})
                                    ),
                                    //2
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.oProducto.oCategoria.Descripcion),
                                        $("<span>").text(item.oProducto.NombreProducto)
                                    ),
                                    //3
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text("$ " + item.oProducto.Precio + " CLP" )
                                    ),
                                    //4
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(
                                            $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append(
                                                $("<i>").addClass("fas fa-minus")
                                            ),

                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                                .css({ "width": "40px" })
                                                .data("oProducto", item.oProducto)
                                                .val(item.Cantidad),

                                            $("<button>").addClass("btn btn-outline-secondary btn-sumar rounded-0").append(
                                                $("<i>").addClass("fas fa-plus")
                                            )
                                        )
                                    ),
                                    //5
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-eliminar").append(
                                            $("<i>").addClass("far fa-trash-alt"), " Eliminar"
                                        ).data("idproducto", item.oProducto.IdProducto),
                                    )
                                )
                            )
                        ).appendTo("#productos-pedido")
                    })
                    sumarTotal();
                    sumarPropina();
                    sumarTotalPropina();
                },
                error: function (error) {
                    $("#productos-pedido").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $("#productos-pedido").LoadingOverlay("show");
                }
            })

            

        })
        
        function sumarTotal() {

            var sumaTotal = parseFloat(0)

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val())

                var subtotal = precio * cantidad;

                sumaTotal += subtotal;
            });

            $("#total").text(sumaTotal)
            $("#total").data("sumatotal", sumaTotal)
        }
        
        function sumarPropina() {
            var sumaTotal = parseFloat(0);

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val());
                var subtotal = precio * cantidad;

                sumaTotal += subtotal;
            });

            var propina = Math.round(sumaTotal * 0.10);

            $("#propina").text(propina)
        }

        function sumarTotalPropina() {
            var sumaTotal = parseFloat(0);

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val());
                var subtotal = precio * cantidad;

                sumaTotal += subtotal;
            });

            var propina = Math.round(sumaTotal * 0.19);
            var totalTotal = sumaTotal+propina

            $("#totalFinal").text(totalTotal)
            $("#totalFinal").data("sumatotal2", totalTotal)
        }

        $(document).on("click", ".btn-sumar", function () {

            var div_contenedor = $(this).parent("div.d-flex");

            var input_cantidad = $(div_contenedor).find("input.input-cantidad");

            var btn = $(this)

            var idproducto = $(input_cantidad).data("oProducto").IdProducto;


            jQuery.ajax({

                url: '@Url.Action("OperacionPedido", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto , sumar: true }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(btn).LoadingOverlay("hide")

                    if (data.respuesta) {
                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad)
                        sumarTotal();
                        sumarPropina();
                        sumarTotalPropina();
                    } else {
                        swal("", data.mensaje, "warning")
                    }
                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide")
                },
                beforeSend: function () {
                    $(btn).LoadingOverlay("show")
                }
            })
        })

        $(document).on("click", ".btn-restar", function () {

            var div_contenedor = $(this).parent("div.d-flex");

            var input_cantidad = $(div_contenedor).find("input.input-cantidad");

            var btn = $(this)

            var idproducto = $(input_cantidad).data("oProducto").IdProducto;

            var cantidad = parseInt($(input_cantidad).val()) - 1;

            if (cantidad >= 1) {
                jQuery.ajax({

                url: '@Url.Action("OperacionPedido", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto , sumar: false }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(btn).LoadingOverlay("hide")

                    if (data.respuesta) {
                        
                        $(input_cantidad).val(cantidad)
                        sumarTotal();
                        sumarPropina();
                        sumarTotalPropina();
                    } else {
                        swal("", data.mensaje, "warning")
                    }

                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide")
                },
                beforeSend: function () {
                    $(btn).LoadingOverlay("show")
                }

            })
          }
        })


        
        $(document).on("click", ".btn-eliminar", function () {

            var idproducto = $(this).data("idproducto");

            var card_producto = $(this).parents("div.card-producto");

                jQuery.ajax({

                url: '@Url.Action("EliminarPedido", "Tienda")',
                type: "POST",
                data: JSON.stringify({ idproducto: idproducto }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    if (data.respuesta) {
                        
                        card_producto.remove();
                        MostrarCantidadPedido();

                        sumarTotalPropina();
                        sumarPropina();
                        sumarTotal();


                    } else {
                        swal("", data.mensaje, "warning")
                    }

                }

            })
        })

        function RealizarPago() {

            

            if (parseInt($("#cantidadcarrito").text()) == 0) {

                swal("", "No Existen Productos en el Pedido", "warning")
            }

            var venta = {



                TotalProducto: $("input.input-cantidad").length,
                MontoTotal: 0
                //Contacto: 
            }

            var lista_pedido = [];

            $("input.input-cantidad").each(function (i) {

                var producto = $(this).data("oProducto");
                var cantidad = parseFloat($(this).val())

                lista_pedido.push({

                    oProducto: producto,
                    Cantidad: cantidad

                })

                jQuery.ajax({

                url: '@Url.Action("ProcesarPago", "Tienda")',
                type: "POST",
                data: JSON.stringify({ oListaPedido: lista_pedido , oVenta: venta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $.LoadingOverlay("hide")

                    if (data.Status) {
                        
                        window.location.href = data.Link;
                    } else {
                        swal("", "El pago no se ha podido procesar, contactese con algún trabajador del local", "warning")
                    }

                },
                error: function (error) {
                    $.LoadingOverlay("hide")
                },
                beforeSend: function () {
                    $.LoadingOverlay("show")
                }

            })


            })

        }

        

    </script>
    
    }